<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="manifest" href="./manifest.json">
    <title>Haiku | 最美博客 - via 吕立青/JimmyLv</title>
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="React-PWA">
    <link rel="apple-touch-icon" href="./favicon.ico">
    <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
<div id="app"></div>
<!-- service worker -->
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js').catch(function (ex) {
            console.warn(ex);
            console.warn('(This warning can be safely ignored outside of the production build.)');
        });
    }
</script>
</body>
</html>